<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prepaid On Device Activation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/reset.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src="./app.js" defer></script>

  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Preapaid On Device Activation Portal</h1>
  <!-- <p>Resize this responsive page to see the effect!</p> -->
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>    
    </ul>
  </div>  
</nav>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>About Me</h2>
      <h5>Photo of me:</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      <h3>Some Links</h3>
      <p>Lorem ipsum dolor sit ame.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div id="app">
        <form>
          <div class="form-row">
            <div class="form-field">
              <label for="first-name">First Name</label>
              <input type="text" id="first-name" />
            </div>
            <div class="form-field">
              <label for="last-name">Last Name</label>
              <input type="text" id="last-name" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-field">
              <label for="email">Email</label>
              <input type="text" id="email" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-field">
              <label for="ticket-quantity">Ticket Quantity</label>
              <select id="ticket-quantity">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
            <div class="form-field">
              <legend>Ticket Type</legend>
              <div>
                <input type="radio" id="general" value="general" v-model="ticketType">
                <label for="general">General Admission</label>
              </div>
              <div>
                <input type="radio" id="vip" value="vip" v-model="ticketType">
                <label for="vip">VIP</label>
              </div>
            </div>
          </div>
          <div class="form-row checkbox">
            <fieldset>
              <legend>How did you hear about this event?</legend>
              <div>
                <input type="checkbox" id="friend" value="friend">
                <label for="friend">Friend</label>
              </div>
              <div>
                <input type="checkbox" id="publication" value="publication">
                <label for="publication">Publication</label>
              </div>
              <div>
                <input type="checkbox" id="social-media" value="social">
                <label for="social-media">Social Media</label>
              </div>
            </fieldset>
          </div>
          <div class="form-row vertical">
            <label for="requests">Special Requests</label>
            <textarea id="requests" v-model="specialRequests"></textarea>
          </div>
          <div class="form-row vertical agreement checkbox">
            <fieldset>
              <legend>Purchase Agreement</legend>
              <p>I, {{ fullName }}, wish to buy {{ ticketDescription }}. I understand that all ticket sales are final.</p>
              <input type="checkbox" name="agreement" id="agree">
              <label for="agree">I Agree</label>
            </fieldset>
          </div>
          <div class="form-row vertical">
            <label for="signature">Signature</label>
            <input id="signature" class="signature" />
          </div>
          <div>
            <button type="reset" class="reset">Reset</button>
            <button type="submit">Confirm Tickets</button>
          </div>
        </form>
      </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div>

</body>
</html>
